@model Capstone.Web.Models.ParkDetailViewModel

@{
    ViewData["Title"] = "Detail";
}

<style> 
</style>

<div id="parkImage"><img src="~/images/@(Model.SelectedPark.ParkCode).jpg" /></div>
<div><h1>@Model.SelectedPark.ParkName - @Model.SelectedPark.ParkCode</h1></div>
<div><p>@Model.SelectedPark.State - @Model.SelectedPark.Acreage</p></div>
<div><p>@Model.SelectedPark.ParkDescription</p></div>
<div><p>@Model.SelectedPark.ElevationInFeet</p></div>
<div><p>@Model.SelectedPark.MilesOfTrail</p></div>
<div><p>@Model.SelectedPark.NumberOfCampsites</p></div>
<div><p>@Model.SelectedPark.Climate</p></div>
<div><p>@Model.SelectedPark.YearFounded</p></div>
<div><p>@Model.SelectedPark.AnnualVisitorCount</p></div>
<div><p>@Model.SelectedPark.InspirationalQuote</p></div>
<div><p>@Model.SelectedPark.InspirationalQuoteSource</p></div>
<div><p>@Model.SelectedPark.EntryFee</p></div>
<div><p>@Model.SelectedPark.NumberOfAnimalSpecies</p></div>


<div>
    @for (int i = 0; i < Model.ParkWeatherForecast.Count; i++)
    {
        if (i == 0)
        {
            <div>
                <h1>@System.DateTime.Now.ToShortDateString()</h1>
                <img src="~/images/@(Model.ParkWeatherForecast[i].Forecast).png" />
                <p>High @Model.ParkWeatherForecast[i].ConvertToC(@Model.ParkWeatherForecast[i].High)</p>
                <span>Low @Model.ParkWeatherForecast[i].Low</span>
                @if (!string.IsNullOrEmpty(Model.ParkWeatherForecast[i].GetForecastMessage()))
                {
                    <p>@Model.ParkWeatherForecast[i].GetForecastMessage()</p>
                }
                @if ((Model.ParkWeatherForecast[i].GetTemperatureMessages()).Count > 0)
                {
                    foreach (string message in Model.ParkWeatherForecast[i].GetTemperatureMessages())
                    {
                        <p>@message</p>
                    }
                }
            </div>
        }

        else
        {
            <div>
                <img src="~/images/@(Model.ParkWeatherForecast[i].Forecast).png" />
                <p>High @Model.ParkWeatherForecast[i].High</p>
                <span>Low @Model.ParkWeatherForecast[i].Low</span>
            </div>
        }
    }
</div>

@*
TODO:
    ADD Weather for park if selected
    ADD Weather C/F selection
    Look into using javascript for dynamic selection
*@